---
import Toast from "astro-toast";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro</title>
  </head>
  <body>
    <Toast type="success" position="top-start">Success</Toast>
    <Toast type="warning" position="top-center">Success</Toast>
    <Toast type="error" position="top-end">Success</Toast>
    <Toast type="info" position="middle-start">Success</Toast>
    <Toast type="default" position="middle-center">Success</Toast>
    <Toast type="success" position="middle-end">Success</Toast>
    <Toast type="success" position="bottom-start">Success</Toast>
    <Toast type="success" position="bottom-center">Success</Toast>
    <Toast type="success" position="bottom-end">Success</Toast>
  </body>
</html>
